USE [master]
GO
/****** Object:  Database [cinema_booking]    Script Date: 2/24/2017 1:19:27 AM ******/
CREATE DATABASE [cinema_booking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cinema_booking', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\cinema_booking.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'cinema_booking_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\cinema_booking_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cinema_booking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cinema_booking]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2/24/2017 1:19:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[idcategory] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[desc] [text] NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[idcategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 2/24/2017 1:19:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[idcinema] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[desc] [text] NULL,
	[address] [nvarchar](100) NULL,
 CONSTRAINT [PK_cinema] PRIMARY KEY CLUSTERED 
(
	[idcinema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 2/24/2017 1:19:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[idlanguage] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](45) NULL,
	[desc] [nchar](100) NULL,
	[acronym] [nchar](3) NULL,
 CONSTRAINT [PK_language] PRIMARY KEY CLUSTERED 
(
	[idlanguage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 2/24/2017 1:19:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Movie](
	[idmovie] [int] IDENTITY(1,1) NOT NULL,
	[title] [nchar](100) NULL,
	[plot] [varchar](500) NULL,
	[length] [smallint] NULL,
	[iddirector] [int] NULL,
	[idwriter] [int] NULL,
	[release_year] [date] NULL,
	[idlanguage] [int] NULL,
	[rating] [tinyint] NULL,
	[cover] [image] NULL,
 CONSTRAINT [PK_movie] PRIMARY KEY CLUSTERED 
(
	[idmovie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MovieCategory]    Script Date: 2/24/2017 1:19:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieCategory](
	[idmovie_category] [int] IDENTITY(1,1) NOT NULL,
	[idmovie] [int] NOT NULL,
	[idcategory] [int] NOT NULL,
	[description] [text] NULL,
 CONSTRAINT [PK_movie_category] PRIMARY KEY CLUSTERED 
(
	[idmovie_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 2/24/2017 1:19:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Person](
	[idperson] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](45) NULL,
	[surname] [nchar](45) NULL,
	[birthdate] [date] NULL,
	[gender] [char](1) NULL,
	[address] [nchar](200) NULL,
	[email] [nchar](100) NULL,
	[update_date] [datetime] NULL,
	[insertion_date] [datetime] NULL,
 CONSTRAINT [PK_person] PRIMARY KEY CLUSTERED 
(
	[idperson] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2/24/2017 1:19:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[idrole] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](45) NULL,
	[desc] [nchar](100) NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[idrole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheatreRoom]    Script Date: 2/24/2017 1:19:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheatreRoom](
	[idtheatre_room] [int] IDENTITY(1,1) NOT NULL,
	[idmovie] [int] NULL,
	[name] [nvarchar](50) NULL,
	[desc] [text] NULL,
	[rows_nr] [int] NULL,
	[seats_per_row] [int] NULL,
	[idcinema] [int] NULL,
 CONSTRAINT [PK_TheatreRoom] PRIMARY KEY CLUSTERED 
(
	[idtheatre_room] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2/24/2017 1:19:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[iduser] [int] IDENTITY(1,1) NOT NULL,
	[idperson] [int] NULL,
	[username] [nchar](30) NULL,
	[password] [nchar](130) NULL,
	[isactive] [bit] NULL,
	[update_date] [datetime] NULL,
	[insertion_date] [datetime] NULL,
	[role] [nchar](1) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[iduser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_iddirector_movie_idperson_person] FOREIGN KEY([iddirector])
REFERENCES [dbo].[Person] ([idperson])
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_iddirector_movie_idperson_person]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_idlanguage_movie_idlanguage_language] FOREIGN KEY([idlanguage])
REFERENCES [dbo].[Language] ([idlanguage])
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_idlanguage_movie_idlanguage_language]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_idwriter_movie_idperson_person] FOREIGN KEY([idwriter])
REFERENCES [dbo].[Person] ([idperson])
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_idwriter_movie_idperson_person]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'this is the primary key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Person', @level2type=N'COLUMN',@level2name=N'idperson'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Values should be ''M'' or ''F''' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Person', @level2type=N'COLUMN',@level2name=N'gender'
GO
USE [master]
GO
INSERT INTO [dbo].[Language] ([name],[desc],[acronym]) VALUES ('Abkhazian', '', 'ABK');
INSERT INTO [dbo].[Language] ([name],[desc],[acronym]) VALUES ('Achinese', '', 'ACE');
INSERT INTO [dbo].[Language] ([name],[desc],[acronym]) VALUES ('Acoli', '', 'ACH');
GO
INSERT INTO [dbo].[Category]([name],[desc]) VALUES ('Fantasy' ,'');
INSERT INTO [dbo].[Category]([name],[desc]) VALUES ('Action' ,'');
INSERT INTO [dbo].[Category]([name],[desc]) VALUES ('Science fiction' ,'');
GO
INSERT INTO [dbo].[Person] ([name] ,[surname] ,[birthdate] ,[gender] ,[address] ,[email] ,[update_date] ,[insertion_date]) VALUES ('arber','fama','1987-04-21','M','bla bla','arberfama@gmail.com', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
INSERT INTO [dbo].[Person] ([name] ,[surname] ,[birthdate] ,[gender] ,[address] ,[email] ,[update_date] ,[insertion_date]) VALUES ('Vali','Pine','1994-06-10','F','bla bla','vanjelapine@gmail.com', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
INSERT INTO [dbo].[Person] ([name] ,[surname] ,[birthdate] ,[gender] ,[address] ,[email] ,[update_date] ,[insertion_date]) VALUES ('Xhuliana','Hima','','F','bla bla','xhulihima@hotmail.it', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
GO
