USE [master]
GO
/****** Object:  Database [cinema_booking]    Script Date: 2/28/2017 8:07:19 PM ******/
IF EXISTS(select * from sys.databases where name='cinema_booking')
DROP DATABASE [cinema_booking]
GO
/****** Object:  Database [cinema_booking]    Script Date: 2/24/2017 1:19:27 AM ******/
CREATE DATABASE [cinema_booking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cinema_booking', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\cinema_booking.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'cinema_booking_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\cinema_booking_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cinema_booking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cinema_booking]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2/24/2017 1:19:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[idcategory] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[desc] [text] NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[idcategory] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cinema]    Script Date: 2/24/2017 1:19:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cinema](
	[idcinema] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
	[desc] [text] NULL,
	[address] [nvarchar](100) NULL,
 CONSTRAINT [PK_cinema] PRIMARY KEY CLUSTERED 
(
	[idcinema] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 3/1/2017 2:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[iditem] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](45) NULL,
	[description] [nchar](256) NULL,
	[unit_price] [decimal](18, 0) NULL,
	[iditem_type] [int] NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[iditem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemType]    Script Date: 3/1/2017 2:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemType](
	[iditem_type] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](45) NULL,
	[description] [nchar](100) NULL,
 CONSTRAINT [PK_ItemType] PRIMARY KEY CLUSTERED 
(
	[iditem_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Language]    Script Date: 3/1/2017 2:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[idlanguage] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](45) NULL,
	[desc] [nchar](100) NULL,
	[acronym] [nchar](3) NULL,
	[isMovieLanguage] [nchar](1) NULL,
 CONSTRAINT [PK_language] PRIMARY KEY CLUSTERED 
(
	[idlanguage] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movie]    Script Date: 2/24/2017 1:19:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Movie](
	[idmovie] [int] IDENTITY(1,1) NOT NULL,
	[title] [nchar](100) NULL,
	[plot] [varchar](500) NULL,
	[length] [smallint] NULL,
	[iddirector] [int] NULL,
	[idwriter] [int] NULL,
	[release_year] [date] NULL,
	[idlanguage] [int] NULL,
	[rating] [tinyint] NULL,
	[cover] [image] NULL,
 CONSTRAINT [PK_movie] PRIMARY KEY CLUSTERED 
(
	[idmovie] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MovieCategory]    Script Date: 2/24/2017 1:19:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieCategory](
	[idmovie_category] [int] IDENTITY(1,1) NOT NULL,
	[idmovie] [int] NOT NULL,
	[idcategory] [int] NOT NULL,
	[description] [text] NULL,
 CONSTRAINT [PK_movie_category] PRIMARY KEY CLUSTERED 
(
	[idmovie_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieProjection]    Script Date: 3/1/2017 2:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieProjection](
	[idmovie_projection] [int] IDENTITY(1,1) NOT NULL,
	[idmovie] [int] NULL,
	[idtheatre_room] [int] NULL,
	[description] [nvarchar](max) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
 CONSTRAINT [PK_Movie_projection] PRIMARY KEY CLUSTERED 
(
	[idmovie_projection] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/1/2017 2:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[idorder] [int] IDENTITY(1,1) NOT NULL,
	[idcustomer] [int] NULL,
	[idstaff] [int] NULL,
	[orderdate] [datetime] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[idorder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/1/2017 2:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[idorder_detail] [int] IDENTITY(1,1) NOT NULL,
	[idorder] [int] NULL,
	[iditem] [int] NULL,
	[unit_price] [decimal](18, 0) NULL,
	[quantity] [tinyint] NULL,
	[discount_percentage] [tinyint] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[idorder_detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Person]    Script Date: 3/1/2017 2:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Person](
	[idperson] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](45) NULL,
	[surname] [nchar](45) NULL,
	[birthdate] [date] NULL,
	[gender] [char](1) NULL,
	[address] [nchar](200) NULL,
	[email] [nchar](100) NULL,
	[update_date] [datetime] NULL,
	[insertion_date] [datetime] NULL,
 CONSTRAINT [PK_person] PRIMARY KEY CLUSTERED 
(
	[idperson] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProjectionTime]    Script Date: 3/1/2017 2:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectionTime](
	[idprojection_time] [int] IDENTITY(1,1) NOT NULL,
	[idmovie_projection] [int] NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
 CONSTRAINT [PK_ProjectionTime] PRIMARY KEY CLUSTERED 
(
	[idprojection_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 3/1/2017 2:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[idrole] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](45) NULL,
	[desc] [nchar](100) NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[idrole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seat]    Script Date: 3/1/2017 2:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seat](
	[idseat] [int] IDENTITY(1,1) NOT NULL,
	[idtheatre_room] [int] NULL,
	[row_nr] [int] NULL,
	[seat_nr] [int] NULL,
	[row_char] [nchar](1) NULL,
 CONSTRAINT [PK_Seat] PRIMARY KEY CLUSTERED 
(
	[idseat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TheatreRoom]    Script Date: 3/1/2017 2:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheatreRoom](
	[idtheatre_room] [int] IDENTITY(1,1) NOT NULL,
	[idmovie] [int] NULL,
	[name] [nvarchar](50) NULL,
	[desccription] [text] NULL,
	[rows_nr] [int] NULL,
	[seats_per_row] [int] NULL,
	[idcinema] [int] NULL,
 CONSTRAINT [PK_TheatreRoom] PRIMARY KEY CLUSTERED 
(
	[idtheatre_room] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 3/1/2017 2:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ticket](
	[idticket] [int] IDENTITY(1,1) NOT NULL,
	[iditem] [int] NULL,
	[idseat] [int] NULL,
	[iduser] [int] NULL,
	[idmovie_projection] [int] NULL,
	[price] [decimal](18, 0) NULL,
	[barcode] [numeric](18, 0) NULL,
	[booking_time] [datetime] NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[idticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 3/1/2017 2:00:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[iduser] [int] IDENTITY(1,1) NOT NULL,
	[idperson] [int] NULL,
	[username] [nchar](30) NULL,
	[password] [nchar](130) NULL,
	[isactive] [bit] NULL,
	[update_date] [datetime] NULL,
	[insertion_date] [datetime] NULL,
	[role] [nchar](1) NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[iduser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_ItemType] FOREIGN KEY([iditem_type])
REFERENCES [dbo].[ItemType] ([iditem_type])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_ItemType]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_iddirector_movie_idperson_person] FOREIGN KEY([iddirector])
REFERENCES [dbo].[Person] ([idperson])
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_iddirector_movie_idperson_person]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_idlanguage_movie_idlanguage_language] FOREIGN KEY([idlanguage])
REFERENCES [dbo].[Language] ([idlanguage])
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_idlanguage_movie_idlanguage_language]
GO
ALTER TABLE [dbo].[Movie]  WITH CHECK ADD  CONSTRAINT [FK_idwriter_movie_idperson_person] FOREIGN KEY([idwriter])
REFERENCES [dbo].[Person] ([idperson])
GO
ALTER TABLE [dbo].[Movie] CHECK CONSTRAINT [FK_idwriter_movie_idperson_person]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'this is the primary key' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Person', @level2type=N'COLUMN',@level2name=N'idperson'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Values should be ''M'' or ''F''' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Person', @level2type=N'COLUMN',@level2name=N'gender'
GO
/****** Object:  Table [dbo].[TheatreRoom]    Script Date: 3/1/2017 12:25:26 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[TheatreRoom](
	[idtheatre_room] [int] IDENTITY(1,1) NOT NULL,
	[idmovie] [int] NULL,
	[name] [nvarchar](50) NULL,
	[desccription] [text] NULL,
	[rows_nr] [int] NULL,
	[seats_per_row] [int] NULL,
	[idcinema] [int] NULL,
 CONSTRAINT [PK_TheatreRoom] PRIMARY KEY CLUSTERED 
(
	[idtheatre_room] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO


/****** Object:  Table [dbo].[Movie_projection]    Script Date: 3/1/2017 12:25:55 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Movie_projection](
	[idmovie_projection] [int] IDENTITY(1,1) NOT NULL,
	[idmovie] [int] NULL,
	[idtheatre_room] [int] NULL,
	[description] [nvarchar](max) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
 CONSTRAINT [PK_Movie_projection] PRIMARY KEY CLUSTERED 
(
	[idmovie_projection] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Movie_projection]  WITH CHECK ADD  CONSTRAINT [FK_Movie_projection_Movie] FOREIGN KEY([idmovie])
REFERENCES [dbo].[Movie] ([idmovie])
GO
ALTER TABLE [dbo].[Movie_projection] CHECK CONSTRAINT [FK_Movie_projection_Movie]

GO
/****** Object:  Table [dbo].[ProjectionTime]    Script Date: 3/1/2017 12:31:59 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[ProjectionTime](
	[idprojection_time] [int] IDENTITY(1,1) NOT NULL,
	[idmovie_projection] [int] NULL,
	[idmovie] [int] NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
 CONSTRAINT [PK_ProjectionTime] PRIMARY KEY CLUSTERED 
(
	[idprojection_time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ProjectionTime]  WITH CHECK ADD  CONSTRAINT [FK_ProjectionTime_Movie] FOREIGN KEY([idmovie])
REFERENCES [dbo].[Movie] ([idmovie])
GO
ALTER TABLE [dbo].[ProjectionTime] CHECK CONSTRAINT [FK_ProjectionTime_Movie]
GO
ALTER TABLE [dbo].[ProjectionTime]  WITH CHECK ADD  CONSTRAINT [FK_ProjectionTime_MovieProjection] FOREIGN KEY([idmovie_projection])
REFERENCES [dbo].[MovieProjection] ([idmovie_projection])
GO
ALTER TABLE [dbo].[ProjectionTime] CHECK CONSTRAINT [FK_ProjectionTime_MovieProjection]

GO
/****** Object:  Table [dbo].[Seat]    Script Date: 3/1/2017 11:06:45 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Seat](
	[idseat] [int] IDENTITY(1,1) NOT NULL,
	[idtheatre_room] [int] NULL,
	[row_nr] [int] NULL,
	[seat_nr] [int] NULL,
	[row_char] [nchar](1) NULL,
 CONSTRAINT [PK_Seat] PRIMARY KEY CLUSTERED 
(
	[idseat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item]    Script Date: 3/1/2017 12:37:45 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Item](
	[iditem] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](45) NULL,
	[description] [nchar](256) NULL,
	[unit_price] [decimal](18, 0) NULL,
	[iditem_type] [int] NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[iditem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_ItemType] FOREIGN KEY([iditem_type])
REFERENCES [dbo].[ItemType] ([iditem_type])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_ItemType]

GO
/****** Object:  Table [dbo].[Ticket]    Script Date: 3/1/2017 12:38:23 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Ticket](
	[idticket] [int] IDENTITY(1,1) NOT NULL,
	[iditem] [int] NULL,
	[idseat] [int] NULL,
	[iduser] [int] NULL,
	[idmovie_projection] [int] NULL,
	[price] [decimal](18, 0) NULL,
	[barcode] [numeric](18, 0) NULL,
	[booking_time] [datetime] NULL,
 CONSTRAINT [PK_Ticket] PRIMARY KEY CLUSTERED 
(
	[idticket] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Item] FOREIGN KEY([iditem])
REFERENCES [dbo].[Item] ([iditem])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Item]

GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_Seat] FOREIGN KEY([idseat])
REFERENCES [dbo].[Seat] ([idseat])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_Seat]

GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_User] FOREIGN KEY([iduser])
REFERENCES [dbo].[User] ([iduser])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_User]

GO
ALTER TABLE [dbo].[Ticket]  WITH CHECK ADD  CONSTRAINT [FK_Ticket_MovieProjection] FOREIGN KEY([idmovie_projection])
REFERENCES [dbo].[MovieProjection] ([idmovie_projection])
GO
ALTER TABLE [dbo].[Ticket] CHECK CONSTRAINT [FK_Ticket_MovieProjection]

GO

/****** Object:  Table [dbo].[ItemType]    Script Date: 3/1/2017 12:42:08 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[ItemType](
	[iditem_type] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](45) NULL,
	[description] [nchar](100) NULL,
 CONSTRAINT [PK_ItemType] PRIMARY KEY CLUSTERED 
(
	[iditem_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

/****** Object:  Table [dbo].[Item]    Script Date: 3/1/2017 12:43:39 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Item](
	[iditem] [int] IDENTITY(1,1) NOT NULL,
	[name] [nchar](45) NULL,
	[description] [nchar](256) NULL,
	[unit_price] [decimal](18, 0) NULL,
	[iditem_type] [int] NULL,
 CONSTRAINT [PK_Item] PRIMARY KEY CLUSTERED 
(
	[iditem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_Item_ItemType] FOREIGN KEY([iditem_type])
REFERENCES [dbo].[ItemType] ([iditem_type])
GO

ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_Item_ItemType]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/1/2017 1:52:42 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Order](
	[idorder] [int] IDENTITY(1,1) NOT NULL,
	[idcustomer] [int] NULL,
	[idstaff] [int] NULL,
	[orderdate] [datetime] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[idorder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User_Customer] FOREIGN KEY([idcustomer])
REFERENCES [dbo].[User] ([iduser])
GO

ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User_Customer]
GO

ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User_Staff] FOREIGN KEY([idstaff])
REFERENCES [dbo].[User] ([iduser])
GO

ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User_Staff]
GO

/****** Object:  Table [dbo].[OrderDetail]    Script Date: 3/1/2017 1:57:40 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[OrderDetail](
	[idorder_detail] [int] IDENTITY(1,1) NOT NULL,
	[idorder] [int] NULL,
	[iditem] [int] NULL,
	[unit_price] [decimal](18, 0) NULL,
	[quantity] [tinyint] NULL,
	[discount_percentage] [tinyint] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[idorder_detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Order] FOREIGN KEY([idorder])
REFERENCES [dbo].[Order] ([idorder])
GO

ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Order]
GO

USE [master]
GO
USE [cinema_booking]
GO
INSERT INTO [dbo].[Language] ([name],[desc],[acronym]) VALUES ('Abkhazian', '', 'ABK');
INSERT INTO [dbo].[Language] ([name],[desc],[acronym]) VALUES ('Achinese', '', 'ACE');
INSERT INTO [dbo].[Language] ([name],[desc],[acronym]) VALUES ('Acoli', '', 'ACH');
GO
INSERT INTO [dbo].[Category]([name],[desc]) VALUES ('Fantasy' ,'');
INSERT INTO [dbo].[Category]([name],[desc]) VALUES ('Action' ,'');
INSERT INTO [dbo].[Category]([name],[desc]) VALUES ('Science fiction' ,'');
GO
INSERT INTO [dbo].[Person] ([name] ,[surname] ,[birthdate] ,[gender] ,[address] ,[email] ,[update_date] ,[insertion_date]) VALUES ('arber','fama','1987-04-21','M','bla bla','arberfama@gmail.com', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
INSERT INTO [dbo].[Person] ([name] ,[surname] ,[birthdate] ,[gender] ,[address] ,[email] ,[update_date] ,[insertion_date]) VALUES ('Vali','Pine','1994-06-10','F','bla bla','vanjelapine@gmail.com', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
INSERT INTO [dbo].[Person] ([name] ,[surname] ,[birthdate] ,[gender] ,[address] ,[email] ,[update_date] ,[insertion_date]) VALUES ('Xhuliana','Hima','','F','bla bla','xhulihima@hotmail.it', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
GO
INSERT INTO [dbo].[Movie] ([title] ,[plot] ,[length] ,[iddirector] ,[idwriter] ,[release_year] ,[idlanguage] ,[rating] ) VALUES ('The Lego Batman Movie','There are big changes brewing in Gotham, but if Batman (Will Arnett) wants to save the city from the Joker''s (Zach Galifianakis) hostile takeover, he may have to drop the lone vigilante thing, try to work with others and maybe, just maybe, learn to lighten up. Maybe his superhero sidekick Robin (Michael Cera) and loyal butler Alfred (Ralph Fiennes) can show him a thing or two.',129,5,NULL,'2017-02-09',120,77);
INSERT INTO [dbo].[Movie] ([title] ,[plot] ,[length] ,[iddirector] ,[idwriter] ,[release_year] ,[idlanguage] ,[rating] ) VALUES ('Logan','In the near future, a weary Logan (Hugh Jackman) cares for an ailing Professor X (Patrick Stewart) at a remote outpost on the Mexican border. His attempt to hide from the outside world gets upended when X introduces him to a young mutant named Laura (Dafne Keen). Logan must now protect the girl and battle the dark forces that want to capture her.',141,6,NULL,'2017-02-03',120,96);
INSERT INTO [dbo].[Movie] ([title] ,[plot] ,[length] ,[iddirector] ,[idwriter] ,[release_year] ,[idlanguage] ,[rating] ) VALUES ('Fifty Shades Darker','When a wounded Christian Grey tries to entice a cautious Ana Steele back into his life, she demands a new arrangement before she will give him another chance. As the two begin to build trust and find stability, shadowy figures from Christian''s past start to circle the couple, determined to destroy their hopes for a future together.',118,7,NULL,'2017-02-09',120,49);
GO
INSERT INTO [dbo].[User] ([idperson] ,[username] ,[password] ,[isactive] ,[update_date] ,[insertion_date] ,[role]) VALUES (1, 'nicarb', 'N9qvekqRuQpO6I89ZRMyDAKvnaRni/n/UibimibSlzPRogjxp28TDCaTqgy2M7tMBQ0ZJ7BT1yoTs6mcHMtW4w==', 'True', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 'S');
INSERT INTO [dbo].[User] ([idperson] ,[username] ,[password] ,[isactive] ,[update_date] ,[insertion_date] ,[role]) VALUES (2, 'valipine', 'xpLlXXMUvSWfd7gwbIaAsJDfydJCdnqD+b2I12f6egnR1tw56fIpCvTNBpTbIG4rgzLMuSE74fb1Y/j5ZEkP1w==', 'True', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 'A');
INSERT INTO [dbo].[User] ([idperson] ,[username] ,[password] ,[isactive] ,[update_date] ,[insertion_date] ,[role]) VALUES (3, 'xhulihima', 'WOr+WHQsH7yFgYyf/p/w+TWbDYciDgVzPbKicwrzeyD5FCevPfHFd3zCVCbz0ZvbckN3hdPf5mqolrp6wKM6/w==', 'True', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP, 'A');
Go
INSERT INTO [dbo].[MovieCategory] ([idmovie] ,[idcategory] ,[description]) VALUES (1,1,'The Lego Batman Movie-Fantasy');
INSERT INTO [dbo].[MovieCategory] ([idmovie] ,[idcategory] ,[description]) VALUES (1,2,'The Lego Batman Movie-Action');
INSERT INTO [dbo].[MovieCategory] ([idmovie] ,[idcategory] ,[description]) VALUES (2,3,'Logan-Science fiction');
GO
