<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CinemaBooking.My.MySettings.cinema_bookingConnectionString" connectionString="Data Source=DAVES-XPS12\SQLEXPRESS;Initial Catalog=cinema_booking;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="CinemaBookingEntities" connectionString="metadata=res://*/CinemaBookingDBModel.csdl|res://*/CinemaBookingDBModel.ssdl|res://*/CinemaBookingDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DAVES-XPS12\SQLEXPRESS;initial catalog=cinema_booking;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>